body {
  position: relative;
  overflow-x: hidden;
}
body,
html {
  height: 100%;
  width: 100%;
  margin:0;
}
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
  background-color: transparent;
}
p, h1, h2, h3{
  color:#fff;
}
p{
  font-size: 16px!important;
}
/*-------------------------------*/
/*           Wrappers            */
/*-------------------------------*/
#wrapper {
  margin-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
#wrapper.toggled {
  margin-left: -220px;
}
#sidebar-wrapper {
  z-index: 1000;
  left: auto;
  right: 0;
  width: 0;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  background: #fff;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
#sidebar-wrapper::-webkit-scrollbar {
  display: none;
}
#wrapper.toggled #sidebar-wrapper {
  width: 220px;
}
#page-content-wrapper {
  padding-top: 0;
}
#wrapper.toggled #page-content-wrapper {
  position: absolute;
}
nav#sidebar-wrapper:after {
    content: "R 2007-2015 Spotify AB";
    position: absolute;
    bottom: 10px;
    padding-left: 30px;
}
/*-------------------------------*/
/*     Sidebar nav styles        */
/*-------------------------------*/
.sidebar-nav {
  position: absolute;
  top: 0;
  width: 220px;
  margin: 0;
  padding: 0;
  list-style: none;
}
.sidebar-nav li {
  position: relative;
  line-height: 20px;
  display: inline-block;
  width: 100%;
}
.sidebar-nav li:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  height: 100%;
  background-color: #1c1c1c;
  -webkit-transition: width 0.2s ease-in;
  -moz-transition: width 0.2s ease-in;
  -ms-transition: width 0.2s ease-in;
  transition: width 0.2s ease-in;
}
.sidebar-nav li:hover:before,
.sidebar-nav li.open:hover:before {
  width: 100%;
  -webkit-transition: width 0.2s ease-in;
  -moz-transition: width 0.2s ease-in;
  -ms-transition: width 0.2s ease-in;
  transition: width 0.2s ease-in;
}
.sidebar-nav li a {
  display: block;
  color: #000;
  text-decoration: none;
  padding: 10px 15px 10px 30px;
}
.sidebar-nav li a:hover,
.sidebar-nav li a:active,
.sidebar-nav li a:focus,
.sidebar-nav li.open a:hover,
.sidebar-nav li.open a:active,
.sidebar-nav li.open a:focus {
  color: #fff;
  text-decoration: none;
  background-color: transparent;
}
.sidebar-nav > .sidebar-brand {
  height: 65px;
  font-size: 20px;
  line-height: 44px;
}
.sidebar-nav .dropdown-menu {
  position: relative;
  width: 100%;
  padding: 0;
  margin: 0;
  border-radius: 0;
  border: none;
  background-color: #222;
  box-shadow: none;
}
/*-------------------------------*/
/*       Hamburger-Cross         */
/*-------------------------------*/
.hamburger {
  position: fixed;
  top: 20px;
  left: auto;
  right: 0;
  z-index: 999;
  display: block;
  width: 32px;
  height: 32px;
  margin-right: 15px;
  background: transparent;
  border: none;
}
.hamburger:hover,
.hamburger:focus,
.hamburger:active {
  outline: none;
}
.hamburger.is-closed,
.hamburger.is-open {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.hamburger.is-closed:before {
  content: '';
  display: block;
  width: 100px;
  font-size: 14px;
  color: #fff;
  line-height: 32px;
  text-align: center;
  opacity: 0;
  -webkit-transform: translate3d(0,0,0);
  -webkit-transition: all 0.35s ease-in-out;
}
.hamburger.is-closed:hover:before {
  opacity: 1;
  display: block;
  -webkit-transform: translate3d(-100px,0,0);
  -webkit-transition: all 0.35s ease-in-out;
}
.hamburger.is-closed .hamb-top,
.hamburger.is-closed .hamb-middle,
.hamburger.is-closed .hamb-bottom,
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-middle,
.hamburger.is-open .hamb-bottom {
  position: absolute;
  left: 0;
  height: 4px;
  width: 100%;
}
.hamburger.is-closed .hamb-top,
.hamburger.is-closed .hamb-middle,
.hamburger.is-closed .hamb-bottom {
  background-color: #fff;
}
.hamburger.is-closed .hamb-top {
  top: 5px;
  -webkit-transition: all 0.35s ease-in-out;
}
.hamburger.is-closed .hamb-middle {
  top: 50%;
  margin-top: -2px;
}
.hamburger.is-closed .hamb-bottom {
  bottom: 5px;
  -webkit-transition: all 0.35s ease-in-out;
}
.hamburger.is-closed:hover .hamb-top {
  top: 0;
  -webkit-transition: all 0.35s ease-in-out;
}
.hamburger.is-closed:hover .hamb-bottom {
  bottom: 0;
  -webkit-transition: all 0.35s ease-in-out;
}
.hamburger.is-open {
  left: auto;
  right: 220px;
}
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-middle,
.hamburger.is-open .hamb-bottom {
  background-color: #fff;
}
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-bottom {
  top: 50%;
  margin-top: -2px;
}
.hamburger.is-open .hamb-top {
  -webkit-transform: rotate(45deg);
  -webkit-transition: -webkit-transform 0.2s cubic-bezier(.73,1,.28,.08);
}
.hamburger.is-open .hamb-middle {
  display: none;
}
.hamburger.is-open .hamb-bottom {
  -webkit-transform: rotate(-45deg);
  -webkit-transition: -webkit-transform 0.2s cubic-bezier(.73,1,.28,.08);
}
.hamburger.is-open:before {
  content: '';
  display: block;
  width: 100px;
  font-size: 14px;
  color: #fff;
  line-height: 32px;
  text-align: center;
  opacity: 0;
  -webkit-transform: translate3d(0,0,0);
  -webkit-transition: all 0.35s ease-in-out;
}
.hamburger.is-open:hover:before {
  opacity: 1;
  display: block;
  -webkit-transform: translate3d(-100px,0,0);
  -webkit-transition: all 0.35s ease-in-out;
}
button.hamburger.is-closed:after {
    content: 'MENU';
    position: absolute;
    right: 37px!important;
    font-size: 18px!important;
    color: #fff;
    top: 5px;
}
/* header */
.menu {
  position: fixed;
  padding-top: 22px;
  background: #00000070;
  width: 100%;
  height: 70px!important;
}
.menu img{
  width: 7%;
  padding-left: 10px;
}
/* container */
.container{
width: 100%!important;
text-align: center!important;
}
/* principal banner */
.principal-banner{
  background-repeat: no-repeat;
  background-size: 100%;
}
.vertical-center-row{
  padding: 15% 0;
}
.col-md-12.principal-banner p {
    color: #fff;
    font-size: 16px;
}
.container img#spotify_logo{
      max-width: 10%;
}
.container img#soundclash_logo{
  max-width: 20%;
}
 img#maple_logo{
    max-width: 25px;
}
h2.linea {
  position: relative;
  z-index: 1;
}
h2.linea:before {
  border-top: 1px solid #fff;
  content: "";
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  bottom: 0;
  width: 5%;
  z-index: -1;
}
h2.linea span {
  padding: 0 15px;
}
.btn {
  border-radius: 50px;
  font-size: 16px;
  border:2px solid #fff!important;
  cursor: pointer!important;
}
button.btn.btn-primary.btn-lg {
  background-color: #fff!important;
  color: #000;
}
button.btn.btn-secondary.btn-lg{
  background-color: transparent;
  background: transparent;
  color: #fff;
}
/* button on hover */
button.btn.btn-primary.btn-lg:hover{
  background-color: transparent!important;
  color: #fff;
}
button.btn.btn-secondary.btn-lg:hover{
  background-color: #fff!important;
  color: #000;
}

/* Second seccion */
#second-seccion .col-md-4{
  border-right: 1px solid #ffff;
}
#second-seccion .col-md-12{
  margin: 30px 0;
}
.icons-works{
  width: 30px;
}
/* seccion three */
#section-three{
  padding: 30px;
}
#section-three .col-md-6{
  margin: auto;
  float: none;
}
.tab-content{
  color: #fff!important;
}
.icons-tabs{
  width: 20px;
}
.image-tabs{
  width: 100%!important;
}
.tab-content .content{
  text-align: left!important;
}
.tab-content .col-xs-6 button{
  font-size: 14px!important;
}
#points-tabs-green{
  color: #5ff550!important;
  font-size: 20px;
}
#points-tabs-red{
  color: #eb1e32!important;
  font-size: 20px;
}
.tab-content  h1{
  text-decoration-color: #959191!important;
  text-decoration: underline;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
  cursor: default;
  background-color: transparent;
  border: none;
  border-bottom: 4px solid #fff;
  color: #fff;
  font-weight: bold;
}
.nav-tabs>li>a{
  color:#fff!important;
}
.nav-tabs>li>a:hover {
  background: transparent;
  border: none;
  color: #9e9292!important;
}
/* media queries */
@media (max-width:992px) {
  .principal-banner{
    background-size: 100% 100%!important;
  }
  #section-three .col-xs-6 {
    width: 100%;
    }
    .image-tabs {
        width: auto!important;
    }
    .tab-content .content{
      text-align: center!important;
    }
    .menu img{
      width: 11%;
    }
  }

@media (max-width:720px) {
.image-tabs {
  width: 40%!important;
}
}
